.h{
  display:flex;
  justify content: top;
  text-aglin: inline; 
  width: 500px;
  height:200px;
  border: 1px solid black;
  top:10px;
  left:200px;
  padding: 90px;
  margin: 10px;
  background-color:blue;
  gap:1px;
}
.hi{
  display: inline-block;
  padding: 5px 15px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: blue;
  border: none;
  border-radius: 1px;
  box-shadow: 0 9px #999;
}